name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - live
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies & Build
        run: npm ci && npm run build
        env:
          VITE_VAPID_PUBLIC_KEY: ${{ secrets.VITE_VAPID_PUBLIC_KEY }}
          VITE_API_BASE_URL: ${{ secrets.VITE_API_BASE_URL }}

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_HILEARNCRM2025 }}
          channelId: live
          projectId: hilearncrm2025
